<title>Data Binding</title>
<div class="container-fluid">
  <h2>Data Binding</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#oneway">One way binding</a></li>
    <li><a data-toggle="tab" href="#twoway">Two way binding</a></li>
  </ul>
  <div class="tab-content">
    <div id="oneway" class="tab-pane fade in active">
      <!-- One way binding -->

      <!-- Expression binding -->
      <h4>Expression binding</h4>
      <p>{{flag ? en : vi}}</p>
      <hr>

      <!-- Property binding -->
      <h4>Property</h4>
      <p [ngStyle]="{'color': myColor}" [hidden]="isShow">aaaaaa</p>
      <hr>

      <!-- Event binding -->
      <h3>Event binding</h3>
      <button (click)="changeColor()">Change</button>
      <button (click)="hidden()">{{isShow ? 'Show' : 'Hide'}}</button>
      <hr>

    </div>
    <div id="twoway" class="tab-pane fade">

      <!-- Two way binding -->
      <h3>Two way binding</h3>
      <p><b>Data input:</b> {{textInput}}</p>
      <input type="text" [(ngModel)]="textInput">
    </div>
  </div>
</div>